*{
	margin: 0%;
/*	border: 1px solid red;
*/}
.navbar{
	padding: 0.8%;
	font-family: 'Poppins', sans-serif;

}
.navbar a{
	text-decoration: none;
	font-size: 17px;
	color: black;
	margin-left: 2%;
}
.navbar img{
	vertical-align: middle;
}
.logo{
	margin: 0% 10% 0% 1.8% !important;
}
#signin{
	background-color: #00baf2;
	color: white;
	border-radius: 25px;
	padding: 0.4% 0.6%;
	margin-left: 8%;
}
.wallet{
	text-align: center;
	background-color: lightgrey;
	padding: 1% 1% ;
}
.recharge{
	margin-left: 4%;
	margin-bottom: 8%;
	font-size: 20px;
}
.sec2{
	display: flex;
	padding: 6% 0% 3% 6%;
	justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
.India{
	font-size: 40px;
	margin-top: 5%;
}
.download-app{
	background-color: black;
	color: white;
	font-size: 17px;
	width: 50%;
	border: 1px solid black;
	border-radius: 25px;
	text-align: center;
	justify-content: space-around;
	margin-top: 5%;
	padding: 1%;
	display: inline-block;
}
.download-app:hover{
	background-color: white;
	color: black;
}
.recharge .fa-brands{
	margin: 2%;
}
.sec3,.service{
	background-color: deepskyblue;
	color: white;
}
.service{
	display: flex;
	font-size: 20px;
	justify-content: space-around ;
	margin-top: 4%;
}
.sec3{
	font-size: 25px;
	font-weight: bold;
	padding: 4% 1.8% 4% 9%;
}

.sec4,.travel{
	background-color: blue;
	color: white;
}
.travel{
	display: flex;
	font-size: 20px;
	justify-content: space-around ;
	margin-top: 4%;
}
.sec4{
	font-size: 25px;
	font-weight: bold;
	padding: 4% 6% 4% 9%;
}
.paytm{
	display: flex;
	margin-left: 4%;
	margin-bottom: 8%;
}
.paytmwallet{
	display: flex;
	justify-content: space-between;
	padding: 10% 6% 10% 6%;
	background-color: white;
}
.head{
	margin-left: 6%;
	font-size: 20px;
}
.sec5{
	padding: 3% 15% 3% 15%;
	font-size: 25px;
	justify-content: space-between;
	background-color: rgba(239,239,239,0.6);
}
.pay{
	margin-top: 3%;
	margin-bottom: 4%;
}
.sec5 h1{
	 font-family: 'Poppins', sans-serif;
	   
}
.sec6{
	padding: 5% 0.3% 5% 0.3%;
	font-size: 25px;
	justify-content: space-between;
	background-color: rgba(239,239,239,0.6);
}
.parent{
	display: flex;
	justify-content: space-between;
	padding: 10% 6% 10% 6%;
	background-color: white;	
}
.app{
	margin-left: 6%;
	font-size: 20px;
}
.upi{
	display: flex;
	margin-left: 4%;
	margin-bottom: 8%;
}
.make{
	margin-top: 3%;
	margin-bottom: 4%;
}
.sec7{
	padding: 3% 0.3% 3% 0.3%;
	font-size: 25px;
	justify-content: space-between;
	background-color: rgba(239,239,239,0.6);
}
.learnmore{
	background-color: navy;
	color: white;
	width: 20%;
	padding: 2% 4% 2% 4%;
	border-radius: 25px;
	margin-right: 5%;
	margin-top: 4%;
}
.learnmore:hover{
	background-color: deepskyblue;
}
.hdfc{
	padding: 5% 3% 5% 8%;
	background-color: white;
}
.seca{
	padding: 0.2%;
	
}
.secb{
	padding: 0.2% 0.2% 1% 2%;
}
.sec8{
	display: flex;
	padding: 0.2%;
}
.sec8 h1{
	font-size: 35px;
	margin-top: 4%;
	font-family: 'Poppins', sans-serif;
}
.bank{
	font-size: 20px;
	margin-top: 5%;
	margin-bottom: 5%;
	font-weight: bold;
}
.sbi{
	padding: 5% 3% 5% 8%;
	background-color: white;
}
.image25{
	margin-top: 14%;
}
.great{
	margin-bottom: 3%;
	font-size: 20px;
	font-weight: bold;
	margin-top: 5%;
}
.sec9{
	display: flex;
	padding: 6% 0% 3% 6%;
	justify-content: space-around;
}

.finance h1{
	font-size: 45px;
	margin-bottom: 10%;
}
.zero{
	font-size: 40px;
	font-weight: bolds;
	margin-top: 6%;
	margin-bottom: 6%;
}
.finger{
	font-size: 20px;
}
.sec10{
	display: flex;
	background-image: url("images/image29.png");
	justify-content: space-between;
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 4% 8% 6% 10%;
	background-color: rgba(239,239,239,1);
}
.achieve{
	font-size: 23px;
}
.achieve h1{
	font-family: 'Poppins', sans-serif;
	margin-top: 4%;
}
.sec11{
	display: flex;
	padding: 8% 10% 8% 12%;
	justify-content: space-between;
}
.easy{
	font-size: 25px;
}
.easy h1{
	font-family: 'Poppins', sans-serif;
	margin-top: 4%;
	margin-bottom: 4%;
}
.sec12{
	display: flex;
	padding: 8% 10% 8% 12%;
	justify-content: space-between;
	background-color: rgba(239,239,239,0.6);
}
.more{
	padding: 2% 1% 2% 6%;
	background-color: navy;
	color: white;
	width: 28%;
	margin-top: 3%;
	border-radius: 25px;
}
.more:hover{
	background-color: deepskyblue;
	color: white;
}
.loan{
	font-size: 23px;
}
.loan h1{
	font-family: 'Poppins', sans-serif;
	margin-top: 4%;
	margin-bottom: 4%;
}
.sec13{
	padding: 5% 14% 5% 14%;
	font-size: 30px;
}
.online{
	display: flex;
	justify-content: space-between;
	background-color: rgba(239, 239, 239, 0.6);
	padding: 8% 0% 8% 6% ;
	margin-top: 4%;
}
.accept{
	font-size: 15px;
	margin-top: 10%;
	margin-left: 4%;
}
.accept h1{
	font-family: 'Poppins', sans-serif;
	margin-bottom: 4%;
	font-size: 35px;
}
.accept p{
	margin-bottom: 8%;
	font-size: 22px;
}
.business{
	display: flex;
	justify-content: space-evenly;
	padding: 3% 2% 2% 12%;
}
.grow{
	font-size: 40px;
	margin: 5% 0% 3% 13%;
	font-family: 'Poppins', sans-serif ;
}
.business h1{
	margin: 10% 0% 5% 0%;
	font-family: 'Poppins', sans-serif ;
}
.business p{
	font-size: 18px;
	margin-bottom: 4%;
}
.learn{
	margin-bottom: 10%;
	font-family: 'Poppins', sans-serif ;
}
.sec15{
	display: flex;
	padding: 4% 6% 4% 5%;
	justify-content: space-between;
	margin: 5%;
}
.img {
	display: flex;
    margin: 0% 10% 4% 0%;
	text-align: center;
	color: white;
}
.img div{
	margin-right: 2%;
	background-color: #00baf2;
	padding: 0.6% 0.2% 3% 0.2%;
	border-radius: 6%;
}
.img h1{
	margin-top: 15%;
	margin-bottom: 0%;
}
.invest p{
	background-color: white;
	color: black;
	margin: 38% 0% 6% 0%;
	font-size: 15px;
}

.sec16{
	display: flex;
	padding: 4% 6% 4% 5%;
	justify-content: space-between;
	margin: 3% 1% 3% 5%;
}
.img1 {
	display: flex;
    margin: 0% 39% 4% 0%;
	text-align: left;
	color: white;
}
.img1 div{
	margin-right: 2%;
	background-color: #00baf2;
	padding: 3% 10% 4% 2%;
	border-radius: 6%;
}
.img1 h2{
	margin-top: 30%;
	margin-bottom: 0%;
}
.invest1 p{
	background-color: white;
	color: black;
	margin: 38% 0% 6% 0%;
	font-size: 15px;
}
@media(max-width: 1366px){
	.navbar a{
		font-size: 15px;
	}
	.India{
		font-size: 35px ;
    }
    .sec8 h1{
    	font-size: 30px;
    }
    .grow{
    	font-size: 35px;
    }
}
@media(max-width: 400px){
	.service{
		font-size: 5px ;
	}
	.sec3{
		font-size: 18px;
	}
	.sec4{
		font-size: 18px;
	}
	.travel{
		padding: 1%;
		font-size: 10px;
	}
	.business{
		padding: 1%;
	}
	.business h1{
		font-size: 10px;
	}
	.learn{
		font-size: 5px;
	}
	.grow{
		font-size: 20px;
		margin-left: 0%;
	}
	.img h1{
		font-size: 17px;
	}
	.img1 h2{
		font-size:15px ;
	}
	.sec16 div{
		flex-direction: column;
		padding: 10%;
		margin-top: 5%;
	}
	.sec16{
		flex-direction: column;
	}
	.sec15{
		flex-direction: column;
	}
	.sec15 div{
		flex-direction: column;
		padding: 20%;
		margin-top: 5%;
	}
	.invest1 img{
		width: 50%;
		padding: 5%;
	}
	.invest img{
		width: 50%;
	}
	.sec14 p{
		font-size: 15px;
	}
	.sec13 h1{
		font-size: 20px;
	}
	.sec13 p{
		font-size: 13px;
	}
	.accept h1{
		font-size: 15px;
	}
	.sec12 h1{
		font-size: 20px;
	}
	.sec12 p{
		font-size: 15px;
	}
	.sec11 h1{
		font-size: 20px;
	}
    .sec11 p{
			font-size: 15px;
	}
	.sec10 h1{
		font-size: 20px;
	}
	.sec10 p{
		font-size: 15px;
	}
	.sec9 h1{
		font-size: 20px;
	}
	.finance p{
		font-size: 15px;
	}
	.seca h1{
		font-size: 18px;
	}
	.seca p{
		font-size: 15px;
	}
	.secb h1{
		font-size: 18px;
	}
	.secb p{
		font-size: 15px;
	}
	.sec7 h1{
		font-size: 18px;
	}
	.sec7 p{
		font-size: 15px;		
	}
	.sec6 h1{
		font-size: 18px;
	}
	.sec6 p{
		font-size: 15px;		
	}
	.sec6 img{
		width: 30%;
	}
	.sec5 h1{
		font-size: 20px;
	}
	.sec5 p{
		font-size: 15px;
	}
	.sec5 img{
		width: 30%;
	}
	.sec2 h1{
		font-size: 20px;
	}
	.sec2 p{
		font-size: 15px;
	}
	.wallet{
		font-size: 10px;
	}
	.navbar a{
		font-size: 4px;
	}
	.download-app{
		font-size: 3px;
	}
}